{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
      <article role="main">
        <div class="splitbox"><div class="left">
           {{ with .Resources.GetMatch "*.{jpg,png}" }}
            <img width=80% class="beer-img" src="{{ .RelPermalink }}" alt="{{ .Title }}"/>
           {{ end }}
        </div><div class="right">
           <div class="beer-name">{{ .Title }}</div>
           <div class="beer-category">{{ .Params.bjcp_name }}</div>
           {{ if .Params.bjcp_url }}
	     <div class="bjcp-url">
               <a href="{{ .Params.bjcp_url }}">BJCP Category {{ .Params.bjcp_id }}</a>
             </div>
           {{ end }}
           <center>
           <table class="beer-info">
             <tr class="beer-info">
               <th class="beer-info">ABV</th>
               <th class="beer-info">IBUs</th>
               <th class="beer-info">OG</th>
               <th class="beer-info">FG</th>
             </tr>
             <tr class="beer-info">
               <td class="beer-info">{{ .Params.abv }}%</td>
               <td class="beer-info">{{ .Params.ibus }}</td>
               <td class="beer-info">{{ .Params.og }}</td>
               <td class="beer-info">{{ .Params.fg }}</td>
             </tr>
           </table>
           </center>
           {{ .Content }}
        </div></div>

      </article>

<!--
      {{ if ne .Type "page" }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
-->

    </div>
  </div>
</div>
{{ end }}
