{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
      <article role="main">
        <div class="splitbox"><div class="left">
           {{ with .Resources.GetMatch "*.{jpg,png}" }}
            <img width=80% class="beer-img" src="{{ .RelPermalink }}" alt="{{ .Title }}"/>
           {{ end }}
        </div><div class="right">
           <div class="beer-name">{{ .Title }}</div>
           <div class="beer-category">{{ .Params.bjcp_name }}</div>
           {{ if .Params.bjcp_url }}
	     <div class="bjcp-url">
               <a href="{{ .Params.bjcp_url }}">BJCP Category {{ .Params.bjcp_id }}</a>
             </div>
           {{ end }}
           <center>
           <table class="beer-info">
             <tr class="beer-info">
               <th class="beer-info">ABV</th>
               <th class="beer-info">IBUs</th>
               <th class="beer-info">OG</th>
               <th class="beer-info">FG</th>
             </tr>
             <tr class="beer-info">
               <td class="beer-info">{{ .Params.abv }}%</td>
               <td class="beer-info">{{ .Params.ibus }}</td>
               <td class="beer-info">{{ .Params.og }}</td>
               <td class="beer-info">{{ .Params.fg }}</td>
             </tr>
           </table>
           </center>
           <hr>
           {{ .Content }}

           {{ if .Params.festivals }}
            <hr>
            <div class="awards">Festival Appearances</div>
	    <ul>
            {{ range .Params.festivals }}
	    <li>{{ . }}
            {{ end }}
	    </ul>
           {{ end }}
	   
           {{ with .Params.awards }}
            <hr>
            <div class="awards">Awards</div>
            {{ range .gold }}
            <div><i class="fa-solid fa-medal" style="color: #FFD700;"></i> {{ . }}</div>
            {{ end }}
            {{ range .silver }}
            <div><i class="fa-solid fa-medal" style="color: #C0C0C0;"></i> {{ . }}</div>
            {{ end }}
            {{ range .bronze }}
            <div><i class="fa-solid fa-medal" style="color: #CD7F32;"></i> {{ . }}</div>
            {{ end }}
           {{ end }}
        </div></div>

      </article>

      <ul class="pager blog-pager">
        {{ if .NextInSection }}
          <li class="previous">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">Prev: {{ .NextInSection.Title }}</a>
          </li>
        {{ end }}
        {{ if .PrevInSection }}
          <li class="next">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">Next: {{ .PrevInSection.Title }}</a>
          </li>
        {{ end }}
      </ul>

    </div>
  </div>
</div>
{{ end }}
