{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {{ with .Content }}
        <div class="well">{{.}}</div>
      {{ end }}

      {{ $now := now }}
      {{ $upcoming := slice }}
      {{ $past := slice }}
      {{ range .Pages }}
        {{ $eventDate := time .Params.date }}
        {{ if $eventDate.After $now }}
          {{ $upcoming = $upcoming | append . }}
        {{ else }}
          {{ $past = $past | append . }}
        {{ end }}
      {{ end }}

      {{ with $upcoming }}
        <h2>Upcoming Events</h2>
        <ul class="posts-list">
          {{ range sort . "Params.date" "asc" }}
            <li>
              {{ with .Params.event_url }}<a href="{{ . }}">{{ else }}<a href="{{ .Permalink }}">{{ end }}<b>{{ .Title }}</b></a> — {{ (time .Params.date).Format "Jan 2, 2006" }}
            </li>
          {{ end }}
        </ul>
      {{ end }}

      {{ with $past }}
        <h2>Past Events</h2>
        <ul class="posts-list">
          {{ range sort . "Params.date" "desc" }}
            <li>
              <a href="{{ .Permalink }}"><b>{{ .Title }}</b></a> — {{ (time .Params.date).Format "Jan 2, 2006" }}
            </li>
          {{ end }}
        </ul>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
