{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
      <article role="main">

        <div class="splitbox"><div class="left">
          {{ with .Resources.GetMatch "*.{jpg,png}" }}
            <img width="80%" class="beer-img" src="{{ .RelPermalink }}" alt="{{ $.Title }} logo" />
          {{ else }}
            {{ with $.Params.image }}
              <img width="80%" class="beer-img" src="{{ . }}" alt="{{ $.Title }} logo" />
            {{ end }}
          {{ end }}
        </div><div class="right">

          <div class="beer-category">{{ (time .Params.date).Format "January 2, 2006" }}</div>

          {{ with .Params.location }}
            <p>{{ . }}</p>
          {{ end }}

          {{ with .Params.event_url }}
            <p><a href="{{ . }}">{{ . }}</a></p>
          {{ end }}

          {{ with .Params.charity }}
            <p>Benefiting
              {{ if $.Params.charity_url }}
                <a href="{{ $.Params.charity_url }}">{{ . }}</a>
              {{ else }}
                {{ . }}
              {{ end }}
            </p>
          {{ end }}

          <hr>
          {{ .Content }}
	  
          {{ with .Params.beers }}
            <hr>
            <div class="awards">
              <h3>Beers Poured</h3>
              <ul class="awards-list">
                {{ range . }}
                  {{ $slug := . }}
                  {{ $beer := site.GetPage (printf "beers/%s" $slug) }}
                  {{ if $beer }}
                    <li><a href="{{ $beer.Permalink }}">{{ $beer.Title }}</a></li>
                  {{ else }}
                    <li>{{ $slug }}</li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          {{ end }}

        </div></div>

      </article>
    </div>
  </div>
</div>
{{ end }}
